@import '../node_modules/bootstrap/scss/bootstrap';

:root {
    --color-primary: #0d6efd;
    --color-white: #fff;
    --color-light-gray: #ced4da;
}

.btn {
    text-transform: uppercase;
}

form.info-form,
div.data-box {
    -webkit-box-shadow: 0px 5px 25px -10px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 5px 25px -10px rgba(66, 68, 90, 1);
    box-shadow: 0px 5px 25px -10px rgba(66, 68, 90, 1);
    border-radius: 9px;
    padding: 40px 20px;
}

.switch-wrapper {
    position: relative;
    display: inline-flex;
    padding: 4px;
    border: 1px solid var(--color-light-gray);
    border-radius: 9px;
    left: 50%;
    transform: translateX(-50%);
}

.switch-wrapper [type="radio"] {
    position: absolute;
    left: -9999px;
}

.switch-wrapper [type="radio"]:checked#customerId ~ label[for="customerId"],
.switch-wrapper [type="radio"]:checked#companyId ~ label[for="companyId"] {
    color: var(--color-white);
}

.switch-wrapper [type="radio"]:checked#customerId ~ label[for="customerId"]:hover,
.switch-wrapper [type="radio"]:checked#companyId ~ label[for="companyId"]:hover {
    background: transparent;
}

.switch-wrapper [type="radio"]:checked#customerId + label[for="companyId"] ~ .highlighter {
    transform: none;
}

.switch-wrapper [type="radio"]:checked#companyId + label[for="customerId"] ~ .highlighter {
    left: 95px;
    width: 47%;
}

.switch-wrapper label {
    text-transform: uppercase;
    z-index: 1;
    cursor: pointer;
    border-radius: 9px;
    transition: 0.25s ease-in-out;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
}

.switch-wrapper label:hover {
    background-color: var(--color-light-gray);
}

.switch-wrapper .highlighter {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 48%;
    height: calc(100% - 8px);
    border-radius: 9px;
    background: var(--color-primary);
    transition: 0.25s ease-in-out;
}